head
  meta(http-equiv='Content-Security-Policy: default-src https:')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(charset='utf-8')
  title !{title}
  meta(name='description', content= description)
  meta(name='author', content='Michael Nisi')
  meta(name='viewport', content='initial-scale=1')

  if card === 1
    meta(name='twitter:card', content='summary_large_image')
  else
    meta(name='twitter:card', content='summary')

  meta(name='twitter:site', content='@michaelnisi')
  meta(name='twitter:creator', content='@michaelnisi')
  meta(property='og:url', content=url)
  meta(property='og:title', content=title)
  meta(property='og:description', content=description)
  meta(property='og:image', content=image)

  link(rel='stylesheet', href='/css/normalize.3cffe97533df207b5d441b3f4ec1898e.css', type='text/css')

  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:300|Source+Code+Pro|Source+Serif+Pro:400,700' type='text/css')

  link(rel='stylesheet', href='/css/style.9c26315c80cd932717118d598bda59ac.css', type='text/css')
  link(rel='stylesheet', href='/css/syntax.5445225f29959315fac29703fc68b66b.css', type='text/css')

  link(rel='alternate', type='application/rss+xml', title='RSS', href='/rss.xml')
  link(rel='shortcut icon', href='/favicon.ico')

  script(src='/js/modernizr.js')
  script(src='/js/respond.js')
