!!! 5
html(lang="en")
  include head
  body  
    div#container
      include header
      - if (latestItem)
        section#cover
          article
            a(href= latestItem.link)
              h2= latestItem.title
            p#summary= latestItem.description
            !{latestItem.content}
      - if (hasItems)
        section#articles
          ul
            each firstColumnItem in firstColumnItems
              - if (firstColumnItem != latestItem)
                li
                  a(href= firstColumnItem.link)
                    h3= firstColumnItem.title.toUpperCase()
                    p.summary= firstColumnItem.description
          ul
            each secondColumnItem in secondColumnItems
              li
                a(href= secondColumnItem.link)
                  h3= secondColumnItem.title.toUpperCase()
                  p.summary= secondColumnItem.description
      
      section#likes
    include footer
    include scripts
