- var hasItems = items && items.length > 0
- var latestItem = hasItems ? items[0] : null

!!! 5
html(lang="en")
  include head
  body  
    div#container
      include header
      - if (latestItem)
        section#cover
          article
            a(href= latestItem.link)
              h2= latestItem.title
            p.summary= latestItem.description
            !{latestItem.content}
      - if (hasItems)
        section#articles
          ul
            each item in items
              - if (item != latestItem)
                li
                  a(href= item.link)
                    h3= item.title
                    p.summary= item.description
      section#likes
      include footer
    include scripts
