- var url = 'http://michaelnisi.com'

doctype xml
rss(version='2.0')
  channel
    title= channel.title
    description= channel.description
    language en-us
    link url
    lastBuildDate= channel.date
    pubDate= channel.date

    each item in items
      item
        title= item.title
        description= item.content
        link= url + item.link
        pubDate= item.date
