doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom' xmlns:content='http://purl.org/rss/1.0/modules/content')
  channel
    title= channel.title
    link= channel.link
    atom:link(rel='alternate' type='application/rss+xml' title='The Troubled Programmer' href= channel.href)
    description= channel.description
    language en-us
    lastBuildDate= channel.pubDate
    pubDate= channel.pubDate

    each entry in entries
      item
        title= entry.title
        link= channel.link + entry.link
        pubDate= entry.pubDate
        guid(isPermaLink='true')= channel.link + entry.link
        description= entry.description
        content:encoded= entry.content 
