doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    atom:link(href= channel.href, rel='self', type='application/rss+xml')
    title= channel.title
    description= channel.description
    language en-us
    link= channel.link 
    lastBuildDate= channel.pubDate
    pubDate= channel.pubDate

    each item in items
      item
        title= item.title
        description= item.header.description
        link= channel.link + item.link
        pubDate= item.pubDate
        guid(isPermaLink='true')= channel.link + item.link
